@model IEnumerable<medical_encyclopedia_DB62.Models.Disease>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Disease_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disease_category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disease_symptoms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disease1.Disease_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disease2.Disease_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Disease_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disease_category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disease_symptoms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disease1.Disease_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disease2.Disease_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
